
*{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;

}
.sidebar{
  position: fixed;
  left:-250px;
  width: 250px;
  height: 100%;
  background:darkorange;
  transition: all .5s ease;

}

.sidebar header{
  font-size: 22px;
  color:white;
  text-decoration: bold;
  text-align:center;
  line-height: 70px;
  background:darkorange;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height:100%;
  width:100%;
  line-height:65px;
  font-size: 15px;
  color:white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);

}

ul li:hover a{
  padding-left: 50px;
  font-size: 20px;
}

.sidebar ul a i{
  padding:20px;
  color:white;
  background-color:darkorange;
} 

#check{
  display:none;
}
label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background:white;
  border-radius: 3px;
}
label #btn{
  left: 40px;
  font-size: 35px;
  color:orange;
  padding:6px 12px;
  transition: all .5s;

}

label #cancel{
  z-index: 1111;
  left: -195px;
  font-size: 30px;
  color:orange;
  background-color: darkorange;
  padding:4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar{
  left:0;
}

#check:checked ~label #btn{
  left:250px;
  opacity:0;
  pointer-events: none;
}
#check:checked ~label #cancel{
  left: 195px;
}
#check:checked ~section{
  margin-left: 250px;
}

section {
  
  background-position: center;
  background-size: cover;
  height:100vh;
  transition: all .5s ease;
}
#services{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:68%;
  padding-left:20px;
}

#services td, #services th {
  border: 1px solid #ddd;
  padding: 8px;
}

#services tr:nth-child(even){background-color: #f2f2f2;}

#services tr:hover {background-color: #ddd;}

#services th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:darkorange;
  color: white;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1.0);
  transition: 0.3s;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1.5);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.card.container input{
  width:100%;
}