
*{
	margin: 0;
	padding:0;
	list-style: none;
	text-decoration: none;

}
.sidebar{
	position: fixed;
	left:-250px;
	width: 250px;
	height: 100%;
	background:darkorange;
	transition: all .5s ease;

}

.sidebar header{
	font-size: 22px;
	color:white;
	text-decoration: bold;
	text-align:center;
	line-height: 70px;
	background:darkorange;
	user-select: none;
}

.sidebar ul a{
	display: block;
	height:100%;
	width:100%;
	line-height:65px;
	font-size: 15px;
	color:white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);

}

ul li:hover a{
	padding-left: 50px;
	font-size: 20px;
}

.sidebar ul a i{
	padding:20px;
	color:white;
	background-color:darkorange;
} 

#check{
	display:none;
}
label #btn, label #cancel{
	position: absolute;
	cursor: pointer;
	background:white;
	border-radius: 3px;
}
label #btn{
	left: 40px;
	font-size: 35px;
	color:orange;
	padding:6px 12px;
	transition: all .5s;

}

label #cancel{
	z-index: 1111;
	left: -195px;
	font-size: 30px;
	color:orange;
	background-color: darkorange;
	padding:4px 9px;
	transition: all .5s ease;
}

#check:checked ~ .sidebar{
	left:0;
}

#check:checked ~label #btn{
	left:250px;
	opacity:0;
	pointer-events: none;
}
#check:checked ~label #cancel{
	left: 195px;
}
#check:checked ~section{
	margin-left: 250px;
}

section {
	
	background-position: center;
	background-size: cover;
	height:100vh;
	transition: all .5s ease;
}

.logo{
	text-align:center;
	font-size:30px;
	color:black;
	text-decoration: bold;
	margin-bottom: 20px;
	background-color: white;
}

.profile_form{
    width:1000px;
    margin-left:50px;


}

.text{
    font-size:25px;
    width:100%;

}

.text input{
	width:80%;
	height:50px;
}

.text textarea{
	width:80%;
}
.enter{
	

}

.about .textbox input {
    
}
.btn{
    width:100px;
    height:40px;
    background:darkorange;
    border-radius: 10px;
    color:white;
    padding:5px;
    font-size:18px;
    cursor: pointer;
    margin:14px auto;
    border:none;

}
.btn:hover{
    background-color:green;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
section .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
section .form-popup {
  display: ;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1.0);
}

/* Add styles to the form container */
section .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
section .form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
section .form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
section .form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
section .form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
section .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#services{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:68%;
  margin-left:20px;
  background-color: white;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1.0);
}

#services td, #services th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: white;
}

#services tr:nth-child(even){background-color: #f2f2f2;}

#services tr:hover {background-color: #ddd;}

#services th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:white;
  color:black;
  text-decoration: bold;
}
.contain{
	position:relative;
	width:1000px;
}
.profile {
	padding-left:100px;
	font-family:sans-serif;
	font-size:20px;
	position:absolute;
	float:left;
}
.contain .about{
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	 max-width: 500px;
     padding: 10px;
     background-color: white;
     height:100%;
     padding: 10px;
     background-color: white;
     right:20px;
     

}
section .about .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1.0);
  transition: 0.3s;
  background-color: white;
  width:90%;
  margin-left:50px;
  font-size:15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1.5);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.container input{
  width:50%;
  margin:10px;
  padding:20px;
  height:20px;
  font-size: 15px;
}